[submodule "GrailDiary/GrailDiary/GrailDiary/GrailDiary/grail-diary-part-2"]
	path = GrailDiary/GrailDiary/GrailDiary/GrailDiary/grail-diary-part-2
	url = https://github.com/ryandutson/grail-diary-part-2.git
